{% extends "base.html" %}
{% block title %}{{author.first_name}} {{author.last_name}}{% endblock %}
{% block content %}
{% load user_filters %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %">
<main role="main" class="container">
   <div class="row">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
        {% include "mini-templates/user.html" with author=author post_count=post_count %}
        {% if author.username != request.user.username %}
        <li class="list-group-item">
                {% if following %}
                <a class="btn btn-lg btn-light" 
                        href="{% url 'profile_unfollow' author.username %}" role="button"> 
                        Отписаться 
                </a> 
                {% else %}
                <a class="btn btn-lg btn-primary" 
                        href="{% url 'profile_follow' author.username %}" role="button">
                Подписаться 
                </a>
                {% endif %}
        </li>
        {% endif %}  
        </div>
    </div>      
        <div class="col-md-9">
            
                {% for post in page %}
                    {% include "post_item.html" with post=post %}
                {% endfor %}
            
                {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator %}
                {% endif %}
                
        </div>
    </div>
</main>
{% endblock %} 


