<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}The Last Social Media You'll Ever Need{% endblock %} | Yatube</title>
    <!-- Загрузка статики -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</head>

<body>

    <main>
        <div class="container">
            
            <h1>{% block header %}
                <a class="btn btn-sm color=blue" href="{% url 'index'%}" role="button"><font color=Red size=7>Ya</font><font size=7>Tube</font>    <font color=#008080 size=5>The Last Social Media You'll Ever Need</font> </a>
                <a class="btn btn-sm" href="{% url 'new_post'%}" role="button"> <font size=5 color=blue>Новый пост</font> </a>
                {% endblock %}
            </h1>
            
            
            {% block content %}
            <!-- Содержимое страницы -->
            {% endblock %}
        </div>
    </main>

</body>

</html>