{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% load thumbnail %}
{% block content %}
  <h1>{{ group.title }}</h1>
    <p> 
        {{ group.description }}
    </p>
    {% if page %}
      {% for post in page %}
        {% include "post_item.html" with post=post %}
      {% endfor %}
      {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
      {% endif %}
    {% else %}
    <h3>
      Автор: {{ post.author.get_full_name }}, дата публикации: {{ post.pub_date|date:'d M Y' }}
    </h3>
    <p>{{ post.text|linebreaksbr }}</p>

    <hr> 
    {% endif %}
{% endblock %}