{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% load thumbnail %}

{% block header %}
<h2><font color=Red size=7>Ya</font><font size=7>Tube</font>    <font color=#008080 size=6>The Last Social Media You'll Ever Need</font></h2>  <h3>Последние обновления на сайте</h3>
<a class="btn btn-sm" href="{% url 'new_post'%}" role="button"> <font size=6 color=blue>+Новый пост</font> </a>
{% endblock %}
{% block content %}

    {% for post in page %} 
        {% include "post_item.html" with post=post %}
    {% endfor %}

    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endblock %}